.ItemImg {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.CardItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.CardItem:hover  {
    background-color: whitesmoke;
    border-radius: 20px;
    
}
.ContainerCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}