.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgoldenrodyellow;
    border-radius: 20px;
    padding: 20px;
}

.navegador img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin: 5px;
}
.categories {
width: 600px;
display: flex;
justify-content: space-around;
}
