.ModalStyle {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.modalContentStyle {
    box-shadow: 5px 10px 15px 20px black;
    animation-name: sombreados;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
    border-color: 5px lightslategray;
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

